<mat-toolbar color="primary">
    <h1 mat-dialog-title><strong>Seleccionar Tipo Resolución</strong></h1>
</mat-toolbar>
<div style="padding: 15px;">
    <div class="filter-container">
        <mat-form-field appearance="outline">
            <mat-label> Grupo Resolutor</mat-label>
            <mat-select [(ngModel)]="data.GrupoResolutor">
                <mat-option value="0" selected>Seleccione</mat-option>
                <mat-option value="1">Fiscalizacion</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="filter-container">
        <mat-form-field appearance="outline">
            <mat-label> Tipo Resolución</mat-label>
            <mat-select [(ngModel)]="data.TipoResolucion" (selectionChange)="getTipoPlantilla()">
                <mat-option value="0" selected>Seleccione</mat-option>
                <mat-option *ngFor="let item of getTipoResoluccion" [value]="item.id_parametro">{{item.valor}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="filter-container">
        <mat-form-field appearance="outline">
            <mat-label> Tipo Plantilla</mat-label>
            <mat-select [(ngModel)]="data.TipoPlantilla">
                <mat-option value="0" selected>Seleccione</mat-option>

                <mat-option *ngFor="let item of getTipoPlantillaResoluccion" [value]="item.id_parametro">{{item.valor}}
                </mat-option>

            </mat-select>
        </mat-form-field>
    </div>
    <div class="filter-container" style="text-align: right;">
        <button mat-raised-button cdkFocusInitial color="default" (click)="Close()">Cerrar</button>
         &nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="Aceptar()">Aceptar</button>
    </div>
</div>

<!-- <div mat-dialog-actions align="center"> -->
<!-- </div> -->