<div class="padded-content">
  <div class="modal-loader" *ngIf="presenter.isLoading">
    <mat-spinner diameter="60" color="primary"></mat-spinner>
  </div>

  <div class="filter-container">
    <mat-form-field appearance="fill">
      <mat-label>Grupo Formato</mat-label>
      <mat-select #selectGrupoFormato 
                  [(ngModel)]="filterGrupoFormato" 
                  (selectionChange)='presenter.onChangeSelected(selectGrupoFormato.value, 0)'>
        <mat-option [value]="0">
                    Seleccione
        </mat-option>
        <mat-option [value]="item.id_grupo_formato" 
                    *ngFor="let item of presenter.DataGrupoFormato">
                    {{item.nombre_grupo_formato}}
       </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tipo Formato</mat-label>
      <mat-select #selectTipoFormato
                  [(ngModel)]="filterTipoFormato"
                  (selectionChange)='presenter.onChangeSelected(selectTipoFormato.value, 1)'>
        <mat-option [value]="0">
                    Seleccione
        </mat-option>
        <mat-option [value]="item.id_tipo_formato" 
                    *ngFor="let item of presenter.DataTipoFormato">
                    {{item.nombre_formato}}
       </mat-option>
      </mat-select>
    </mat-form-field>
   
   <mat-form-field appearance="fill">
      <mat-label>Tipo Servicio</mat-label>
      <mat-select [(ngModel)]="filterTipoServicio">
        <mat-option [value]="0">
          Seleccione
        </mat-option>
        <mat-option [value]="item.id_parametro" 
                  *ngFor="let item of presenter.DataTipoServicio">
                  {{item.valor}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tipo Resolución</mat-label>
      <mat-select  [(ngModel)]="filterTipoResolucion">
        <mat-option [value]="0">
                    Seleccione
        </mat-option>
        <mat-option [value]="item.id_parametro" 
                    *ngFor="let item of presenter.DataTipoResolucion">
                    {{item.valor}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field appearance="fill">
      <mat-label>Tipo Falta</mat-label>
      <mat-select [(ngModel)]="filterTipoFalta">
        <mat-option value="0" selected>Seleccione</mat-option>
        <mat-option value="1">M20</mat-option>
        <mat-option value="2">F.2</mat-option>
      </mat-select>
    </mat-form-field> -->
  </div>

  <div class="filter-container">

    <mat-form-field appearance="fill">
      <mat-label>Grupo Resolutor</mat-label>
      <mat-select  [(ngModel)]="filterGrupoResolutor">
        <mat-option [value]="0">
                    Seleccione
        </mat-option>
        <mat-option [value]="item.id_grupo_resolutor" 
                    *ngFor="let item of presenter.DataGrupoResolutor">
                    {{item.descripcion}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Tipo documento / Numero documento -->
    <mat-form-field appearance="outline">
      <mat-label>Administrado</mat-label>
      <input matInput [(ngModel)]="filterAdministrado" autocomplete="off" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Número de Expediente</mat-label>
      <input matInput [(ngModel)]="filterNumeroExpediente" autocomplete="off" />
    </mat-form-field>
  </div>

  <div class="filter-container">
    <mat-form-field appearance="outline">
      <mat-label>Número de Actas</mat-label>
      <input matInput [(ngModel)]="filterNumeroActas" autocomplete="off" />
    </mat-form-field>
  </div>

  <div class="filter-container">
    <button mat-raised-button (click)="onSearchAppResolucionAdministrado()" color="primary">
      <i class="fas fa-search">  Buscar</i>
    </button>
    &nbsp;&nbsp;
    <!-- <button
    mat-raised-button
    (click)="generatePdf()"
    color="primary"
    >
     <i class="fas fa-file-pdf">&nbsp;Generar Plantilla</i>
    </button> -->

    <button mat-raised-button (click)="onGenerarResolucion()" color="primary">
      <i class="fas fa-file-pdf">  Generar Resolución</i>
    </button>

  </div>

  <table mat-table [dataSource]="presenter.tableData" class="table-01" matSort matSortActive="numero_acta"
    matSortDisableClear matSortDirection="desc">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox color="primary" (change)="$event ?  this.presenter.masterToggle() : null"
          [checked]="this.presenter.selection.hasValue() && this.presenter.isAllSelected()"
          [indeterminate]="this.presenter.selection.hasValue() && !this.presenter.isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox color="primary" (click)="$event.stopPropagation()"
          (change)="$event ? this.presenter.selection.toggle(row) : null"
          [checked]="this.presenter.selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="numero_acta">
      <th mat-header-cell *matHeaderCellDef>N° Acta</th>
      <td mat-cell *matCellDef="let row">
        <span class="body-02">{{row.numero_acta}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="fecha_acta">
      <th mat-header-cell *matHeaderCellDef>Fecha Acta</th>
      <td mat-cell *matCellDef="let row">
        <span class="body-02">{{ row.fecha_acta | date:'dd/MM/yyyy' }}</span>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="notificacion">
      <th mat-header-cell *matHeaderCellDef>Notificación</th>
      <td mat-cell *matCellDef="let row">
        <span class="body-02">{{ row.notificacion }}</span>
      </td>
    </ng-container> -->

    <ng-container matColumnDef="codigo_falta">
      <th mat-header-cell *matHeaderCellDef>Código Falta</th>
      <td mat-cell *matCellDef="let row">
        <span class="body-02">{{ row.codigo_falta }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="administrado_acta">
      <th mat-header-cell *matHeaderCellDef>Nombres / Razon Social</th>
      <td mat-cell *matCellDef="let row">
        <span class="body-02">{{ row.administrado_acta }}</span>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="parte_diario">
      <th mat-header-cell *matHeaderCellDef>Parte Diario</th>
      <td mat-cell *matCellDef="let row">
        <span class="body-02">{{ '' }}</span>
      </td>
    </ng-container> -->

    <ng-container matColumnDef="estado_pago">
      <th mat-header-cell *matHeaderCellDef>Estado Pago</th>
      <td mat-cell *matCellDef="let row">
        <span class="body-02">{{ row.estado_pago }}</span>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="placa">
      <th mat-header-cell *matHeaderCellDef>Placa</th>
      <td mat-cell *matCellDef="let row">
        <span class="body-02">{{ '' }}</span>
      </td>
    </ng-container> -->

    <ng-container matColumnDef="numero_resolucion">
      <th mat-header-cell *matHeaderCellDef>N° Resolución</th>
      <td mat-cell *matCellDef="let row">
        <span class="body-02">{{ row.numero_resolucion }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="fecha_resolucion">
      <th mat-header-cell *matHeaderCellDef>Fecha Resolución</th>
      <td mat-cell *matCellDef="let row">
        <span class="body-02">{{ row.fecha_resolucion | date:'dd/MM/yyyy' }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="notificacion">
      <th mat-header-cell *matHeaderCellDef>Notificación Resolución</th>
      <td mat-cell *matCellDef="let row">
        <span class="body-02">{{ row.notificacion }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef>Documento Resolución</th>
      <td mat-cell *matCellDef="let row">
        <button color="primary" (click)="presenter.eventDescargarResolucion(row.id_documento_externo)"> 
          <i class="fas fa-file-pdf" title="Descargar Resolución"></i> </button>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="N° Ifi">
      <th mat-header-cell *matHeaderCellDef>N° Ifi</th>
      <td mat-cell *matCellDef="let row">
        <span class="body-02">{{ row.N° Ifi }}</span>
      </td>
    </ng-container> -->

    <!-- <ng-container matColumnDef="Fecha Ifi">
      <th mat-header-cell *matHeaderCellDef>Fecha Ifi </th>
      <td mat-cell *matCellDef="let row">
        <span class="body-02">{{ row.Fecha Ifi  | date:'dd/MM/yyyy' }}</span>
      </td>
    </ng-container> -->

    <!-- <ng-container matColumnDef="Notificación Ifi">
      <th mat-header-cell *matHeaderCellDef>Notificación Ifi</th>
      <td mat-cell *matCellDef="let row">
        <span class="body-02">{{ row.notificacionIfi }}</span>
      </td>
    </ng-container> -->

    <!-- <ng-container matColumnDef="N° Carta">
      <th mat-header-cell *matHeaderCellDef>N° Carta</th>
      <td mat-cell *matCellDef="let row">
        <span class="body-02">{{ row.N° Carta }}</span>
      </td>
    </ng-container> -->

    <!-- <ng-container matColumnDef="Fecha Carta">
      <th mat-header-cell *matHeaderCellDef>Fecha Carta</th>
      <td mat-cell *matCellDef="let row">
        <span class="body-02">{{ row.Fecha Carta | date:'dd/MM/yyyy' }}</span>
      </td>
    </ng-container> -->

    <!-- <ng-container matColumnDef="Notificación Carta">
      <th mat-header-cell *matHeaderCellDef>Notificación Carta</th>
      <td mat-cell *matCellDef="let row">
        <span class="body-02">{{ row.Notificación Carta }}</span>
      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="presenter.displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: presenter.displayedColumns"></tr>
  </table>

  <mat-paginator [length]="presenter.resultsLength" [hidePageSize]="true" [showFirstLastButtons]="true"
    [pageSize]="presenter.rowsPerPage" [pageIndex]="presenter.currentPage" (page)="onPageChanged($event)">
  </mat-paginator>

</div>