$primary: #023075;
$secondary: #255EB4;

$error: #e22626;
$verticalDivider: #cacacaa1;
$gray01: #6c6c6c;


$mat-warn: (
  50: #255EB4,
  100: #255EB4,
  200: #255EB4,
  300: #255EB4,
  400: #255EB4,
  500: #255EB4,
  600: #255EB4,
  700: #255EB4,
  800: #255EB4,
  900: #255EB4,
  A100: #255EB4,
  A200: #255EB4,
  A400: #255EB4,
  A700: #255EB4,
  contrast: (),
);


$mat-primary: (
  50: #e8eaf6,
  100: #c5cae9,
  200: #9fa8da,
  300: #7986cb,
  400: #5c6bc0,
  500: #023075,
  600: #023075,
  700: #023075,
  800: #023075,
  900: #023075,
  A100: #023075,
  A200: #023075,
  A400: #023075,
  A700: #023075,
  contrast: (),
);

$mat-accent: (
  50: #fce4ec,
  100: #f8bbd0,
  200: #f48fb1,
  300: #f06292,
  400: #ec407a,
  500: #e91e63,
  600: #d81b60,
  700: #c2185b,
  800: #ad1457,
  900: #880e4f,
  A100: #ff80ab,
  A200: #ff4081,
  A400: #f50057,
  A700: #c51162,
  contrast: (),
);
