.mat-typography  .mat-typography h1{
    font-size: 96px !important;
    font-weight: 300 !important;
    margin:0px;
}

.mat-typography h2{
    font-size: 60px !important;
    font-weight: 300 !important;
    margin:0px;
}

.mat-typography h3{
    font-size: 48px !important;
    font-weight: 400 !important;
    letter-spacing: 0.25px;
    margin:0px;
}

.mat-typography  h4{
    font-size: 34px !important;
    font-weight: 400 !important;
    margin:0px;
}

.mat-typography  h5{
    font-size: 24px !important;
    font-weight: 400 !important;
    letter-spacing: 0.18px;
    margin:0px;
}

.mat-typography  h6{
    font-size: 20px !important;
    font-weight: 500 !important;
    margin:0px;
}

.mat-typography  .subtitle-01{
    font-size: 16px !important;
    font-weight: 400 !important;
    letter-spacing: 0.25px;
    margin:0px;
}

.mat-typography  .subtitle-02{
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 14px;
    margin: 0px;
}

.mat-typography .body-01{
    font-size: 16px !important;
    font-weight: 400 !important;
    letter-spacing: 0.25px;
    margin: 0px;
}

.mat-typography .body-02{
    font-size: 14px !important;
    font-weight: 400 !important;
    letter-spacing: 0.25px;
    line-height: 14px;
    margin: 0px;
}


.mat-typography .button-01{
    font-size: 14px !important;
    font-weight: 500 !important;
    letter-spacing: 1.25px;
    margin:0px;
}

.mat-typography .caption{
    font-size: 12px !important;
    font-weight: 500 !important;
    margin:0px;
}

.mat-typography .overline{
    font-size: 10px !important;
    font-weight: 500 !important;
    letter-spacing: 1.5px;
    margin:0px;
}