@import "theme", "grid", "colors", "text";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.padded-content {
  padding: 40px 40px 0px 40px;
}

.modal-big {
  width: 90vw;
  height: 90vh;
  max-width: 900px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  position:relative;
}

.modal-header {
  height: 65px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $verticalDivider;
  padding: 0px 25px;
}

.modal-header h6{
    flex-grow: 1;
}

.modal-close {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  text-decoration: none;
  color: $gray01;
}

.mat-dialog-container {
  padding: 0px !important;
}

.modal-content{
    padding: 20px 30px;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}


.modal-content table{
    flex-grow: 1;
}

.modal-footer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 25px;
}


.modal-footer button{
    margin-left: 20px;
    width: 180px;
}


.table-01{
  width: 100%;
}

.cell-centered{
  text-align: center !important;
}

.checkable-row{
  width: 120px;
    text-align: center !important;
    padding-right: 24px !important;
}

.filter-container{
    display: flex;
}

.filter-container mat-form-field{
    margin-right: 20px;
    flex-grow: 1;
}

.icon-button-outlined{
    border-radius: 10% !important;
    margin-top: 4px  !important;
    height: 50px !important;
    width: 45px !important;
}


.modal-loader{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #ffffff9e;
    left: 0px;
    top: 0px;
    z-index: 99999999999999;
    align-items: center;
    justify-content: center;
    display: flex;
}