<div class="main">

    <viaje-seguro-sidebar (onNavigate)="onNavigate($event)"></viaje-seguro-sidebar>

    <div class="content">
        <viaje-seguro-header [title]="title"></viaje-seguro-header>
        <router-outlet></router-outlet>
    </div>
</div>