@import "/src/scss/colors";

.sidebar{
    width: 300px;
    height: 100vh;
    background-color: white;
    border-right: 1px solid $verticalDivider;
    display: flex;
    flex-direction: column;
}

.sidebar header{
    
    background-image: url('/assets/menu-header.png');
    padding: 20px;
}

.sidebar header .subtitle-02{
    margin-top: 15px;
}

.sidebar header .body-02{
    margin-top: 8px;
}

.sidebar header .logo{
    height: 80px;    
    margin-top: 40px;
}

.sidebar .menu{
    margin: 0px;
    padding: 20px 0px;
    list-style: none;
    flex-grow: 1;
}

.sidebar .menu li a, .sidebar footer a{
    padding: 15px 30px;
    display: block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    
}
.sidebar  i{
    margin-right: 20px;
    font-size: 1.1em;
}

.sidebar .menu li a.active{
    background-color: #E5ECF6;
    color: $primary;
    font-weight: 500;
}

.sidebar .divider{
    height: 1px;
    background-color: rgba(0, 0, 0, 0.08);
    border:none;
}