<nav class="sidebar">
    <header>
        <img class="logo" src="/assets/sutran-logo.png" />
        <p class="subtitle-02">Anthony Andre Arias Caballero</p>
        <p class="body-02">aac_andre160@hotmail.com</p>
    </header>
    <nav class="menu">
        <li *ngFor="let item of menus; let position = index" (click)="menuClicked(position)">
            <a [class.active]="item.active" [routerLink]="[item.route]">
                <i [class]="item.icon"></i>
                {{item.title}}
            </a>
        </li>
      

    </nav>
    <footer>
        <hr class="divider"/>
        <a [routerLink]="['agencies/manage']">
            <i class="fas fa-sign-out-alt"></i>
            Cerrar Sesión</a>
    </footer>
</nav>