.l-login{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.l-login > .left{
    display: none;
    width: 40%;
    height: 100%;
    background-image: url('/assets/login-left.jpg');
    background-size: cover;
}

.l-login > .right{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 5%;
   flex-direction: column;
}

.l-login > .right form{
    width: 70%;
    max-width:300px;
    margin-top: 2em;
    text-align: center;
}

.l-login > .right form mat-form-field{
    width: 100%;
}

.l-login > .right form button{
    width: 70%;
}

.l-login > .right > .logo{
    height: 110px;
}



@media (min-width:480px) { 
    .l-login > .left{
        display:block;
        
    }

    .l-login > .right{
        width: 60%;
    }
}