<div class="l-login">
    <section class="left">

    </section>

    <section class="right">
        <img class="logo" src="/assets/sutran-logo.png" />
  
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <div class="row">
                    <div class="col-12">
                        <mat-form-field  appearance="outline">
                            <mat-label>Usuario</mat-label>
                            <input matInput type="text"  formControlName="username" >
                            <!-- <mat-error *ngIf="loginForm.controls.username.hasError('required')">
                                Este campo es <strong>obligatorio</strong>
                              </mat-error> -->
                          </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Contraseña</mat-label>
                            <input matInput type="password"  formControlName="password" >
                            <!-- <mat-error *ngIf="loginForm.controls.password.hasError('required')">
                                Este campo es <strong>obligatorio</strong>
                              </mat-error> -->
                          </mat-form-field>
                    </div>
                </div>
                <button  [disabled]="!loginForm.valid" mat-raised-button color="primary" (clicked)="onSubmit()">Ingresar</button>
                
            </form>

    </section>
</div>