<div class="padded-content">
  <div class="modal-loader" *ngIf="presenter.isLoading">
    <mat-spinner diameter="60" color="primary"></mat-spinner>
  </div>

  <div class="filter-container">
    <mat-form-field appearance="outline">
      <mat-label>Nombres y Apellidos</mat-label>
      <input matInput [(ngModel)]="filterName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>DNI</mat-label>
      <input matInput [(ngModel)]="filterDNI" pattern="\d*" maxlength="8" />
    </mat-form-field>

    <button
      mat-icon-button
      mat-stroked-button
      (click)="onSearchAppUsers()"
      color="primary"
      class="icon-button-outlined"
    >
      <i class="fas fa-search"></i>
    </button>
  </div>

  <table
    mat-table
    [dataSource]="presenter.tableData"
    class="table-01"
    matSort
    matSortActive="nombres"
    matSortDisableClear
    matSortDirection="desc"
  >
    <ng-container matColumnDef="Nombres">
      <th mat-header-cell *matHeaderCellDef>Nombres y Apellidos</th>
      <td mat-cell *matCellDef="let row">
        <span class="body-02">{{ row.firstName }} {{ row.lastName }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="DNI">
      <th mat-header-cell *matHeaderCellDef>DNI</th>
      <td mat-cell *matCellDef="let row">
        <span class="body-02">{{ row.dni }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let row">
        <span class="body-02">{{ row.email }}</span>
      </td>
    </ng-container>

    <!-- Title Column -->
    <!-- <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let row">{{ row.title }}</td>
        </ng-container> -->

    <!-- State Column -->
    <!-- <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>State</th>
          <td mat-cell *matCellDef="let row">{{ row.state }}</td>
        </ng-container> -->

    <!-- Created Column -->
    <!-- <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Created
          </th>
          <td mat-cell *matCellDef="let row">{{ row.created_at | date }}</td>
        </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="presenter.displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: presenter.displayedColumns"></tr>
  </table>

  <!-- <p class="caption">Se encontraron 5 resultados</p> -->
  <mat-paginator
    [length]="presenter.resultsLength"
    [hidePageSize]="true"
    [showFirstLastButtons]="true"
    [pageSize]="presenter.rowsPerPage"
    [pageIndex]="presenter.currentPage"
    (page)="onPageChanged($event)"
  ></mat-paginator>
</div>
