@import "/src/scss/colors";

.main-header{
    background-color: $primary;
    height: 65px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    
}

.main-header h5{
    color:white;
}